body {
  font-family: monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-position: center;
  background: url("./images/lycoris-recoil.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.window{
  position: fixed;
  background-color: antiquewhite;
  border: solid;
  border-radius: 12px;
  padding: 10px;
  padding-top: 4px;
  padding-bottom: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* overflow:auto; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.windowDivider{
  margin: 4px;
  margin-top: 6px;
  background-color: burlywood;
  margin-left: 0px;
  margin-right: 0px;
}
.resizer {
  width: 15px;
  height: 15px;
  background: burlywood;
  position: fixed;
  right: 0;
  bottom: 0;
  cursor: se-resize;
}
#welcome {
  height: 26vh;
  width: 55vh;
}
#about {
  display: none;
  width: 30vw;
  overflow: auto;
}
#notes{
  display: none;
  height: 65vh;
  width: 50vw;
  overflow: auto;
}
#wikipedia{
  display: none;
}
#wikipediaFrame{
  width: 100%;
  height: 90%;
  border: none;
}
#musicContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.3);
  height: 20vh;
  overflow-y: auto; 
}
audio {
  width: 100%;
  height: 40px;
  filter: sepia(0.5) hue-rotate(-20deg) contrast(1.1); /* Tints it to match your color palette */
  outline: none;
}
#music{
  display: none;
  width: 300px;
  height: 400px;
  overflow: hidden;
  /* align-items: stretch; */
}
#myImg {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  object-fit: cover;
}

#topBar {
  height: 6vh;
  position: relative;
  z-index: 999;
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}
#welcomeIcon , #barDateAndTime{
  background: antiquewhite;
  backdrop-filter: blur(5px);
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
}
#welcomeIcon {
  cursor: pointer;
  margin-left: 16px;
}
#barDateAndTime {
  margin-left: auto;
  margin-right: 16px;
}
.desktopIcon{
  height: 64px;
  width: 64px;
}
.appTitle{
  color: white;
  margin-top: 12px;
  margin-bottom: 8px;
}
.windowHeader {
  /* position: absolute; */
  /* top: 40; */
  cursor: move;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  font-weight: 500;
  height: 20px;
}
.windowClose {
  align-self: center;
  cursor: pointer;
  font-size: 10px;
  margin  : 0px;
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.2s;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  color: #FF605C;
  background-color: #FF605C;
}
.windowClose:hover {
  color: black;
}
#desktopApps {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 16px;
}
.appDiv {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 100px;
  width: 90px;
  align-items: center;
  margin-bottom: 20px;
}
.appDiv:hover{
  background-color: rgba(116, 204, 238, 0.519);
}

.desktopIcon {
  justify-self: center;
  margin-top: 4px;
}

.selected{
  background-color: rgba(0, 183, 255, 0.411);
  outline: solid 2px transparent;
}
.hidden{
  display: none;
}
.show{
  display: block;
}